@model MVCMedicalController.Modules.PaginatedList<MVCMedicalController.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Врачи</h1>

<p>
    <a asp-action="Create">Добавить врача</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Фамилия: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DoctorSoName"]" asp-route-currentFilter="@ViewData["DoctorSoName"]">Фамилия</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DoctorName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Имя</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DoctorFatherName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Отчество</a>
            </th>
            <th>
                Номер кабинета
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Speciality"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Специальность</a>
            </th>
            <th>
                Участок
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorSoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorFatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cabinet.CabinetNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speciality.SpecialityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector.SectorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DoctorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DoctorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DoctorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

                
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>