@model PaginatedList<MVCMedicalController.Models.Patient>
@{
    ViewData["Title"] = "Index";
}

<h1>Пациенты</h1>

<p>
    <a asp-action="Create">Добавить пациента</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Фаммилия: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["PatientName"]" asp-route-currentFilter="@ViewData["PatientName"]">Имя</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["PatientSoName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Фамилия</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["PatientFatherName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Отчество</a>
        </th>
        <th>
            Адресс
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateOfBirth"]" asp-route-currentFilter="@ViewData["DateOfBirth"]">Адресс</a>
        </th>
        <th>
            Пол
        </th>
        <th>
            Участок
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientSoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientFatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector.SectorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatientId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>