@model PaginatedList<MVCMedicalController.Models.Speciality>
@{
    ViewData["Title"] = "Index";
}

<h1>Специальности</h1>

<p>
    <a asp-action="Create">Добавить специальность</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Название
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpecialityID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpecialityID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpecialityID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>