@model MVCMedicalController.Modules.PaginatedList<MVCMedicalController.Models.Sector>
@{
    ViewData["Title"] = "Index";
}

<h1>Участки</h1>

<p>
    <a asp-action="Create">Добавть участок</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Участки
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SectorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SectorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SectorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SectorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>